<!DOCTYPE html>
{% extends 'webApp/base.html' %}
{% load staticfiles %}
{% block base_block %}

 <div class="habout">
     <h1> About Us </h1>
 </div>

 <div class="container about">

     <ul>
        <li> <p> <span> Master Software Solution Hitech Private Limited (MSS)</span> was established not as a business enterprise, but
                 as an association of experts with the vision of making the operation of a complex sector easier to build an
                 ever-lasting system,  </p>  </li>

        <li> <p>  <span> MSS </span> is having a track record of successful implementation of <span class="erp"> integrated tailor made application oriented
            ERP software</span>, which is today acting as a performance booster to many leading Companies in India. </p> </li>

        <li> <p> <span> MSS </span> has a vast experience and exposure to various types of companies </p> </li>

        <li> <p> <span> MSS </span> has a team of professionals with the knowledge & understanding the requirements and capable of
                 efficiently incorporate the same and implements the System smoothly and friendly. </p> </li>

        <li> <p> <span> MSS </span> Package software for more than 60 Clients of variety of industries like Valve, Foundry, Textile Synthetic
                        Tape, NDT Service, Machine Shop, Trading, Payroll, Inventory, Financial Accounts and Govt. Departments
                        etc.. </p> </li>

    </ul>
 </div>









{% endblock %}