<!DOCTYPE html>
{% extends 'webApp/base.html' %}
{% load staticfiles %}
{% block base_block %}

 <div class="hservices">
     <h1> Our Services </h1>
 </div>

 <div class="container services">

    <div>

        <h3> Our Products </h3>
            <ol> <h2 class="ol"> Foundry Application </h2>

                <li> Master Details </li>
                <li> Marketing / Order Processing </li>
                <li> Planning & Production Control </li>
                <li> Quality Management </li>
                <li> Lab Testing </li>
                <li> Sales Information </li>
                <li> Subcontract Management </li>
                <li> On Screen Query's </li>
                <li> User Controls </li>
                <li> ISO Related Reports </li>
                <li> Inventory Management </li>
                <li> Customer Complaints </li>
                <li> Maintenance Management</li>
            </ol>


            <ol> <h2 class="ol"> Valve Application </h2>

                <li> Valve Master and Partnumber Codification </li>
                <li> Customer Order Processing System </li>
                <li> Manufacturing Plan and Material Indenting System </li>
                <li> Purchase Information System </li>
                <li> Product Information System </li>
                <li> Subcontract Management System </li>
                <li> Quality Assurance System </li>
                <li> Test Certificates  </li>
                <li> Invoicing and Sales Information System </li>
                <li> Inventory Management System </li>
                <li> Customer Complaints </li>
                <li> MIS Reports</li>
            </ol>

            <ol> <h2 class="ol"> Machine Shop Application </h2>

                <li> System Control's and Masters Data's </li>
                <li> Customer Order Processing </li>
                <li> Goods Inward Processing </li>
                <li> Planning and Production </li>
                <li> Subcontract Processing </li>
                <li> Quality Testing </li>
                <li> Dispatch Processing </li>
                <li> Test Certificates  </li>
                <li> Invoicing and Sales Information System </li>
                <li> Customer Complaints </li>
                <li> MIS Reports</li>
            </ol>


        <h3> Why <span> MSS </span> ? </h3>

        <ul>
            <li> <p> The <span> MSS </span> Application system is not a mere software, it is a <span class="erp"> System  </span> which can guide the company to
                 handle its complex process smoothly and minimize manual documents and thus <span class="erp"> eliminating
                 communication gaps </span> and utilize the existing man power resource efficiently.  </p>  </li>

        <li> <p>  The system is already proved with large volume of Data and presently under use for more than ten years
                  in Windows & RDBMS Version. </p> </li>

        <li> <p> User friendly and Interactive Queries and Multiple reporting options with Summaries / abstract making the
                 Companies a less Paper Organization. </p> </li>

        <li> <p> System implementation done by experienced team having exposure and knowledge. </p> </li>

        <li> <p> We offer Cost-effective development solutions. </p> </li>

        <li> <p> <span class="erp"> We Provide Online Instant support and Service </span>  </p> </li>

    </ul>




    </div>


 </div>









{% endblock %}